@{
    ViewData["Title"] = "Кошик";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS {
    <link href="@Url.Content(" ~/css/returnAndDelivery.css")" rel="stylesheet" asp-append-version="true" /> 
} 
<div class="render-content">
<div class="container my-3">
            <div>
               <h1 style = "font-size:30px"><b>Як діє доставка товарів продавця VYLKA до відділень служб доставки?</b></h1>
               <div class ="article">
               <h2>
                <strong style = "font-size:20px">Які умови доставки до відділень Нової пошти?</strong>
                <h3 style = "font-size:15px"><b>Умови доставки товарів продавця VYLKA</b></h3>
               </h2>
            </div>
            <ul style="list-style-type:decimal;">
            <li>Термін доставки: 1-3 дні.</li>
            <li>Термін зберігання – 3 робочих дні.</li>
            <li>Доступна оплата пластиковим та електронним подарунковим сертифікатом.</li>
            <li> Неможливо відмовитися від частини замовлення.</li>
            <li>Коли замовлення надійде до відділення, ви отримаєте SMS-сповіщення.</li>
            <li> Алкогольні напої доставляються лише у разі оплати карткою онлайн, Gpay, ApplePay, PrivatPay чи безготівковим розрахунком.</li>
            </ul>
            <strong style = "font-size:20px">Які умови доставки до відділень Укрпошти?</strong>
            <h4 style = "font-size:15px"><b>Загальні умови</b></h4>
            <ul style="list-style-type:decimal;">
            <li>Термін доставки: 2-5 робочих днів.</li>
            <li>Термін зберігання – 3 робочих дні.</li>
            <li>Вартість доставки – розраховується при оформленні та залежить від ваги та габаритів.</li>
            <li>Максимальна вартість замовлення - 25 000 грн</li>
            <li>Оплата подарунковим сертифікатом недоступна.</li>
            <li>Неможливо відмовитися від частини замовлення.</li>
            <li>Коли замовлення надійде до відділення, ви отримаєте SMS-сповіщення.</li>
            </ul>
            <h4><b>Які товари доставляються?</b></h4>
            <ul style="list-style-type:decimal;">
            <li>Максимальна вага замовлення має бути 30 кг.</li>
            <li>Максимальна довжина найбільшої сторони товару – 90 см.</li>
            <li>Максимальна вартість замовлення – 25 000 грн.</li>
            </ul>
            <p style="font-size:25px;"><b>Які умови доставки до відділень Meest?</b></p>
            <h4 style="font-size:25px;">Загальні умови</h4>
            <ul style="list-style-type:decimal;">
            <li>Термін доставки: 1-3 робочих дні (терміни можуть змінюватися в залежності від віддаленості населеного пункту).</li>
            <li>Термін зберігання - 5 робочих днів.</li>
            <li>Вартість доставки - 40 грн.</li>
            <li>Максимальна вартість замовлення - 6 000 грн.</li>
            <li>Оплата подарунковим сертифікатом недоступна.</li>
            <li>Неможливо відмовитися від частини замовлення.</li>
            <li>Коли замовлення надійде до відділення, ви отримаєте SMS-повідомлення з датою закінчення зберігання замовлення у відділенні.</li>
            </ul>    
            <h4><b>Які товари доставляються?</b></h4>
            <ul style="list-style-type:decimal;">
                <li>Максимальна довжина товару – 59 см.</li>
                <li>Крихкі товари не доставляються.</li>
                <li>Вартість товару не може перевищувати 6 000 грн.</li>
                </ul>
                <h4>Доступні варіанти оплати</h4>
                <ul style="list-style-type:decimal;">
                <li>Картою онлайн - оплата на сайті під час оформлення замовлення.</li>
                <li> Оплата карткою онлайн при отриманні замовлення у відділенні - Отримайте sms з посиланням на оплату в оператора видачі. 
                Оплатіть замовлення через Google Pay, Apple Pay або вказавши дані картки.</li>
                <li><b>Готівкова оплата у відділенні недоступна.</b></li>
                </ul>

            </div>
         </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
}