@{
    ViewData["Title"] = "Головна";
}
@section CSS {
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
} 
<div class="render-content">
	<!-- Start Hero Section -->
	<div class="hero">
		<div class="text-center mb-5">
			<div>
				<h1 class="animate__animated animate__slideInUp">Магазин електроніки</h1>
				<span class="colortext">
					<h4 class="animate__animated animate__slideInUp">Широкий вибір побутової техніки</h4>
				</span>
			</div>
		</div>
	</div>
	<div class="container mb-5">
		<div class="d-flex flex-grow-0">
			<div class="cards animate__animated animate__zoomIn">
				<div class="cards-body d-flex align-items-center">
					<span class="border">
						<span class="cards-name">
							<h6>Офіційна гарантія</h6>
						</span>
					</span>
				</div>
				<div class="cards-body">
					<p class="cards-text">
						<h9>Офіційна гарантія на всю продукцію</h9>
					</p>
				</div>
			</div>
			<div class="cards animate__animated animate__zoomIn">
				<div class="cards-body d-flex align-items-center">
					<span class="border">
						<span class="cards-name text-center mb-5 ">
							<h6>Працюємо щодня 24/7</h6>
						</span>
					</span>
				</div>
				<div class="cards-body">
					<p class="cards-text">
						<h9>Кол-центр працює цілодобово</h9>
					</p>
				</div>
			</div>
			<div class="cards animate__animated animate__zoomIn">
				<div class="cards-body d-flex align-items-center">
					<span class="border">
						<span class="cards-name text-center mb-5 ">
							<h6>Швидка доставка</h6>
						</span>
					</span>
				</div>
				<div class="cards-body">
					<p class="cards-text">
						<h9>Зручна, індивідуальна та швидка кур'єрська доставка по Україні. Цінуйте час з нами</h9>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="about-us overflow-hidden animate__animated animate__fadeInUp">
		<div class="text-center mb-5">
			<div>
				<h1 class="text-uppercase mb-4">Про нас</h1>
				<span class="colortext">
					<h5>Маленькі мрії та грандіозні плани</h5>
				</span>
				<p class="row gx-5">
					<h7>VYLKA - найбільший онлайн-ритейлер у країні. З 2005 року ми втілюємо маленькі мрії та грандіозні <br> плани мільйонів людей. У нас можна знайти буквально все. Ми продаємо за справедливою <br> ціною та надаємо гарантію, бо вважаємо, шо онлайн-шопінг має бути максимально зручним і безпечним. <br> І щоразу, коли хтось натискає «Купити», ми розуміємо, що робимо потрібну справу </h7>
				</p>
			</div>
		</div>
	</div>
	<!-- Відгуки -->
	<div class="testimonials container">
		<div class="text-center mb-5">
			<h1>Наші відгуки</h1>
		</div>
		<div class="d-flex flex-wrap">
			<div class="card shadow-sm">
				<div class="card-body d-flex align-items-center">
					<img class="card-img rounded-circle" src="images/profile-picture-1.jpg" alt="Profile image">
					<h5 class="card-title">Петро, 27 років</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Ціна товару найнижча серед конкурентів, а так ще й поруч зі мною знаходиться їх магазин, зекономив ще й на доставці.</p>
				</div>
			</div>
			<div class="card shadow-sm">
				<div class="card-body d-flex align-items-center">
					<img class="card-img rounded-circle" src="images/profile-picture-2.jpg" alt="Profile image">
					<h5 class="card-title">Аня, 31 років</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Дуже сподобалось обслуговування. Дуже хороші консультанти. Товар доставили вчасно.</p>
				</div>
			</div>
			<div class="card shadow-sm">
				<div class="card-body d-flex align-items-center">
					<img class="card-img rounded-circle" src="images/profile-picture-3.jpg" alt="Profile image">
					<h5 class="card-title">Михайло, 40 років</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Все чітко працює. Зробив замовлення, приїхав і забрав. Все зробили швидко і зручно. Перевірив товар і залишився задоволеним.</p>
				</div>
			</div>
			<div class="card shadow-sm">
				<div class="card-body d-flex align-items-center">
					<img class="card-img rounded-circle" src="images/profile-picture-4.jpg" alt="Profile image">
					<h5 class="card-title">Олеся, 23 років</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Відмінний сервіс, приємна ціна та послуги. Все виконали вчасно і саме так як домовлялися. Товар прийшов в цілісності. Всім дуже задоволена.</p>
				</div>
			</div>
		</div>
	</div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
}