@{
    ViewData["Title"] = "Кошик";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS {
    <link href="@Url.Content(" ~/css/returnAndDelivery.css")" rel="stylesheet" asp-append-version="true" /> 
} 
<div class="render-content">
    <div class="product-return container my-3">
		<h1>Обмін та повернення товару</h1>
		<p>Обмін і повернення товару регламентується Законом України «Про захист прав споживачів», згідно з яким покупець має право повернути товар продавцеві протягом 14 днів з дня покупки. У разі звернення клієнта з проханням про повернення або обмін товару, вийдіть з ним на зв'язок максимально швидко та уточніть причину повернення/обміну товару.</p>
		<p>
			<b>Дотримання прав споживачів обов'язкова умова роботи продавця на платформі VYLKA.</b> Повернення товару від покупця Покупець має право повернути товар належної якості (чи обміняти його на інший), якщо дотримані наступні умови повернення товару: <li>товар не належить до товарів, які не підлягають обміну та поверненню;</li>
			<li>товар не використовувався, повністю укомплектований і не порушена цілісність пакування (відкрите упакування не вважається пошкодженням товарного вигляду);</li>
			<li>збережені заводські (гарантійні) пломби, ярлики та маркування;</li>
			<li>пройшло менш як 14 днів з моменту отримання товару;</li>
			<li>є в наявності розрахунковий документ і гарантійний талон.</li>
			<li>Продавець має право відмовити у поверненні, якщо не дотриманні дані умови.</li>
		</p>
		<p>Для товарів неналежної якості діють інші норми Закону України «Про захист прав споживачів». Для повернення товару, узгодьте з покупцем спосіб зворотної доставки товару. Запропонуйте покупцю повернути товар у вашій точці видачі або попросіть його відправити товар за допомогою поштової служби та надіслати вам номер ТТН. <b>Доставлення товару відбувається коштом покупця</b>, але якщо отриманий товар не відповідав замовленню (інша модель і т.п.), тоді продавець повинен компенсувати клієнтові транспортні витрати. Попередьте покупця про необхідність написати заяву про повернення товару, в якій мають бути вказані причини повернення. Якщо товар відправляється в сервісний центр для усунення дефектів і клієнт не вказав адресу для зворотної доставки ми рекомендуємо повертати товар на ту адресу, за якою клієнт отримав товар першого разу. Вимоги покупця повинні бути задоволені відразу, а при необхідності перевірки якості товару, який повертається — протягом 14 днів або за домовленістю з покупцем. При отриманні товару у відділенні поштової служби або в вашому магазині, уважно огляньте його, перевірте комплектацію і наявність пошкоджень:
		<ul class="decimal">
			<li>Якщо виявлені пошкодження або неповна комплектація товару, ви можете відмовити покупцеві в поверненні.</li> В такому випадку заповніть <b>Акт прийняття-передачі</b> , в якому опишіть товар і виявлені дефекти. Акт прийняття-передачі заповнюється в 3-х примірниках: копії видаються вам і покупцеві, оригінал залишається у відділенні поштової служби. У разі заповнення акту в вашому магазині, він складається 2-х примірниках: оригінал залишається у вас, копію необхідно надати покупцеві. <li>Якщо товар візуально не має дефектів, вам необхідно прийняти його для більш детального огляду.</li> При огляді товару складіть <b>Акт огляду товару</b> , та, якщо можливо, проведіть відео фіксацію даного процесу. Якщо детальний огляд товару виявив порушення правил експлуатації товару чи його товарного вигляду, ви можете відмовити покупцеві в поверненні товару, паралельно відправивши йому копію акту огляду товару (наприклад, скан-копію на e-mail), оригінал залишайте собі. <b>Складання і надання покупцеві копій Акту прийому-передачі та Акту огляду товару може допомогти у врегулюванні спірних ситуацій.</b>
		</ul> Для звернень клієнта з питань обміну або повернення товару, перед тим як вимагати фізичне повернення, ми рекомендуємо обов'язково запитувати фото/відеоматеріали, які допоможуть візуально виявити його недолік. Це допоможе зорієнтувати клієнта стосовно процедури повернення, а також, не витрачаючи час на транспортування товару в сервісний центр, запропонувати альтернативне рішення: повна або часткова компенсація вартості товару, довезення відсутньої деталі. </p>
		<h2>Повернення грошових коштів покупцю</h2>
		<p>Згідно із законодавством, при поверненні товару розрахунки з покупцем проводяться виходячи з вартості товару на момент покупки. За домовленістю з покупцем, ви також можете провести обмін на товар за тією ж вартістю або з перерахунком ціни. Гроші за товар, оплачений карткою або за безготівковим розрахунком, повинні бути повернуті тим самим способом платнику. Для цього через особистий кабінет платіжної системи угоду потрібно скасувати і провести повернення коштів, або з розрахункового рахунку, на підставі заяви покупця, повернути гроші на розрахунковий рахунок платника. При готівковій оплаті за товар, повернення коштів відбувається зручним для покупця способом, вказаним ним в заяві. Якщо товар був попередньо оплачений, але при отриманні покупець відмовився від товару в односторонньому порядку без поважних причин, що призвело до додаткових витрат продавця (платне зберігання, зворотна доставка), тоді повернення грошових коштів може бути проведене з вирахуванням суми додаткових витрат продавця. Для повернення грошових коштів за товар відправте покупцеві шаблон заяви на повернення грошових коштів на карту. Після отримання заповненого шаблону, виконайте повернення коштів покупцю. У разі обміну на інший товар, зафіксуйте модель і вартість нового відправленого товару в заяві на повернення. Якщо повернення товару відбувається в вашому магазині, вам необхідно на місці заповнити заяву на повернення грошових коштів покупцеві та в той же день видати грошові кошти. Якщо повернути гроші в той же день немає можливості — потрібно провести виплату в інший термін за домовленістю сторін, але не пізніше ніж через 7 днів з моменту отримання товару та письмової заяви на повернення. <b>Зберігайте квитанції про повернення коштів покупцю.</b>
			<b>Після повернення коштів покупцю</b>, для повернення комісії напишіть звернення в особистому кабінеті продавця, тема: Фінанси та документообіг → Коригування комісії по замовленню. У зверненні: <li>вкажіть номер замовлення, за яким було здійснено повернення;</li>
			<li>додайте скан/фото копію квитанції про повернення коштів покупцеві;</li>
			<li>додайте скан/фото копію ТТН повернення або заяву на повернення товару від покупця (якщо клієнт повернув товар в магазині).</li>
			<b>Після проведення обміну товару, в зверненні вкажіть</b>: <li>номер замовлення, за яким було здійснено обмін;</li>
			<li>код та вартість поверненого товару;</li>
			<li>код та вартість відправленого товару.</li> У разі виникнення спірної ситуації щодо повернення, необхідно буде надати наступну інформацію: <li>листування з покупцем;</li>
			<li>скріншоти з кабінету поштової служби;</li>
			<li>повний перелік документації на замовлення.
		</p>
		<h2>
			<b>Гарантійний термін</b>
		</h2>
		<p>Це період протягом якого покупець може відправити в сервісний центр або продавцеві несправний товар для проведення ремонту. Гарантійний термін повинен бути зазначений у гарантійному талоні або в іншому документі, що додається до товару. Також гарантійний термін необхідно вказати в характеристиці товару. Якщо в результаті звернення покупця по гарантії ви провели повернення коштів або обмін, то таке замовлення вважається виконаним, і по ньому не проводиться перерахунок або повернення комісії. </p>
    </div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/cart.js")" asp-append-version="true"></script>
}