@page
@model ErrorModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Сталася помилка при обробці вашого запиту.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запиту:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим розробки</h3>
<p>
    Перехід до середовища <strong>розробника</strong> відобразить більш детальну інформацію про помилку, яка сталася.
</p>
<p>
    <strong>Середовище розробки не слід вмикати в розгорнутих програмах</strong>оскільки це може призвести до того, що конфіденційна інформація від винятків буде відображатися кінцевим користувачам. Для локального налагодження середовище розробки можна ввімкнути, установивши для змінної середовища <strong>ASPNETCORE_ENVIRONMENT</strong> значення <strong>Development</strong> і перезапустивши програму.
</p>
