@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 body { 
    position: relative; 
    font-family: 'Noto Sans', sans-serif; 
    font-size: 16px; 
    line-height: 1.4; 
    color: #000; 
    min-width: 320px; 
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif;
    font-size:2vh;
    height: 720vh; 
    /* background: rgb(34,193,195); */
    background: url("phone.jfif") ;
    background-repeat: no-repeat;
      background-size: auto;
      background-size: 100% 100%;
      width: 100%;

   } 
    
.raw{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px 5px;
    border-radius: 10px;
    margin-top: 25px;
}
 /* .raw:hover{
    background-color: #e0e0e0;
    box-shadow: 0 0 12px #ffffff;
    -moz-box-shadow: 0 0 12px #ffbde1;
    -o-box-shadow: 0 0 12px #c4c4c4;
    -ms-box-shadow: 0 0 12px #f7f7f7;
    -webkit-box-shadow: 0 0 12px #5D4954;
} */
img{
  width: 220px;
  height: 160px; 
  margin-left: 30px; 
  margin-right: 30px;
  margin-bottom: 10px;
  margin-top: 30px;
}

.font{
  align-items: "center";
}

.container{
  width: 970px;
  margin: 0 auto;
} 

.product{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 150px; */
}

.availability{
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 10px;
}
.price{
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.order-btn{
  display: flex;
  align-items: center;
}

.product-name{
  margin-left: 10px;
}

.characteristics{
  margin-left: 10px;
}

.button {
    background-color: #2f65f9; /* blue */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
   /*  display: inline-block; */
    gap: 20px;
    display: flex;
    align-items: center;;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 6px;
  }
  .button img{
    margin: 0;
  }


 .button:hover{
   color:#ffffff;
   background-color: #438dee;
   box-shadow: 0 0 6px #11386a;
   -moz-box-shadow: 0 0 6px#11386a;
   -o-box-shadow: 0 0 6px #11386a;
   -ms-box-shadow: 0 0 6px#000000;
   -webkit-box-shadow: 0 0 6px #11386a;
}
button{
  cursor: pointer;
}

