@{
    ViewData["Title"] = "Головна";
}

<div class="render-content">
	<!-- Start Hero Section -->
	<div class="hero">
		<div class="text-center mb-5">
			<div>
				<h1 class="animate__animated animate__slideInUp">Магазин електроніки</h1>
				<img class="custom-image" src="~/images/homepage.jpeg" alt="Picture">
			</div>
		</div>
	</div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/site.js")" asp-append-version="true"></script>
}