@{
    ViewData["Title"] = "Категорії";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CSS {
    <link href="@Url.Content("~/lib/fontawesome-free/css/all.min.css")" rel="stylesheet" asp-append-version="true"/>
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" asp-append-version="true"/>
}
<div class="render-content">
	<div class="wrapper">
		<ul class="sidebar navbar-nav">
			<li class="side-nav-title d-flex">
				<button class="btn text-white" id="sidebarToggle">
					<i class="fas fa-bars"></i>
				</button>
				<h1 class="text-white">Навігація</h1>
			</li>
			<li class="nav-item border-bottom">
				<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Users">
					<i class="fas fa-fw fa-table"></i>
					<span>Користувачі</span>
					<span class="arrow fw-semibold float-end">></span>
				</a>
			</li>
			<li class="nav-item border-bottom">
				<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Products">
					<i class="fas fa-fw fa-table"></i>
					<span>Продукти</span>
					<span class="arrow fw-semibold float-end">></span>
				</a>
			</li>
			<li class="nav-item border-bottom">
				<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Orders">
					<i class="fas fa-fw fa-table"></i>
					<span>Замовлення</span>
					<span class="arrow fw-semibold float-end">></span>
				</a>
			</li>
			<li class="nav-item border-bottom">
				<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Categories">
					<i class="fas fa-fw fa-table"></i>
					<span>Категорії товарів</span>
					<span class="arrow fw-semibold float-end">></span>
				</a>
			</li>
		</ul>

	</div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/admin.js")" asp-append-version="true"></script>
}