@{
    ViewData["Title"] = "Змінити роль";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section CSS {
    <link href="@Url.Content("~/lib/fontawesome-free/css/all.min.css")" rel="stylesheet" asp-append-version="true"/>
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" asp-append-version="true"/>
}
<div class="render-content">
		<div class="content-wrapper">
			<div class="border-top border-primary border-4 bg-light table-responsive">
				<div class="bg-table-title text-dark d-flex justify-content-between align-items-center">
					<h1 class=" fw-bolder fs-5 p-lg-3 ">Редагування ролі користувача</h1>
				</div>
				<form class="text-dark" novalidate>
                    <div class="mb-3">
                        <label class="form-label">ID користувача</label>
                        <input type="text" class="form-control" value="UserId">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Роль</label>
                        <select class="form-select">
                        <option selected disabled value="">Вибрати...</option>
                        <option>Адмін</option>
                        <option>Покупець</option>
                        </select>
                    </div>
                    <div>
                        <button class="btn btn-success" type="submit" asp-area="Admin" asp-controller="UserAdmin" asp-action="Users">
                            Зберегти
                        </button>
                        <a class="btn text-dark" asp-area="Admin" asp-controller="UserAdmin" asp-action="Users">
                            Назад
                        </a>
                    </div>
                </form>
			</div>
		</div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/admin.js")" asp-append-version="true"></script>
}