@model vylka.Models.CategoryModel 
@{
    ViewData["Title"] = "Додати категорію";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section CSS {
    <link href="@Url.Content("~/lib/fontawesome-free/css/all.min.css")" rel="stylesheet" asp-append-version="true"/>
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" asp-append-version="true"/>
}

<div class="render-content">
        <div class="content-wrapper">
            <div class="border-top border-primary border-4 bg-light table-responsive">
                <div class="bg-table-title text-dark d-flex justify-content-between align-items-center">
                    <h1 class=" fw-bolder fs-5 p-lg-3 ">Додавання категорії</h1>
                </div>
                 <form class="text-dark" asp-controller="CategoryAdmin" asp-action="AddCategory"> 
                    <div class="mb-3">
                        <label class="form-label">Назва</label>
                        <input type="text" class="form-control" name="Name">
                    </div>
                    <div>
                        <input type="submit" value="Створити" class="btn btn-primary" />
                        <a class="btn text-dark" asp-area="" asp-controller="CategoryAdmin" asp-action="Categories">
                            Назад
                        </a>
                    </div>
                 </form> 
            </div>
        </div>
</div>

@section Scripts {
    <script src="@Url.Content("~/js/admin.js")" asp-append-version="true"></script>
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}