@using vylka.Areas.Entity
@model Category
@{
    ViewData["Title"] = "Змінити категорію";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section CSS {
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" asp-append-version="true"/>
}
<div class="render-content">
		<div class="content-wrapper">
			<div class="border-top border-primary border-4 bg-light table-responsive">
				<div class="bg-table-title text-dark d-flex justify-content-between align-items-center">
					<h1 class=" fw-bolder fs-5 p-lg-3 ">Редагування категорії</h1>
				</div>
				<form class="text-dark" method="post" asp-controller="CategoryAdmin" asp-action="EditCategoryPOST">
                    <input asp-for="Id" hidden />
                    <div class="mb-3">
                         <label asp-for="Name" class="form-label">Назва категорії</label>
                        <input type="text" asp-for="Name" class="form-control">
                    </div>
                    <div>
                        <button class="btn btn-success" type="submit" >
                            Зберегти
                        </button>
                        <a class="btn text-dark" asp-controller="CategoryAdmin" asp-action="Categories">
                            Назад
                        </a>
                    </div>
                </form>
			</div>
		</div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/admin.js")" asp-append-version="true"></script>
}