@using vylka.Areas.Entity
@model Product
@{
    ViewData["Title"] = "Видалити товар";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section CSS {
    <link href="@Url.Content("~/lib/fontawesome-free/css/all.min.css")" rel="stylesheet" asp-append-version="true"/>
    <link href="@Url.Content("~/css/admin.css")" rel="stylesheet" asp-append-version="true"/>
}
<div class="render-content">
		<div class="content-wrapper">
			<div class="border-top border-primary border-4 bg-light table-responsive">
				<div class="bg-table-title text-dark d-flex justify-content-between align-items-center">
					<h1 class="fw-bolder fs-5 p-lg-3 ">Видалення товару</h1>
				</div>
				<form class="text-dark" method="post" asp-controller="ProductAdmin" asp-action="DeleteProductPOST">
                    <input asp-for="Id" hidden />
                    <div class="mb-3" mt-3>
                        <label asp-for="Name" class="form-label"></label>
                        <input type="text" asp-for="Name" disabled class="form-control">
                        <h5>Ви впевнені що хочете видалити цей товар?</h5>
                    </div>
                    <div>
                        <button class="btn btn-danger" type="submit" >
                            Підтвердити
                        </button>
                        <a class="btn text-dark" asp-area="Admin" asp-controller="ProductAdmin" asp-action="Products">
                            Скасувати
                        </a>
                    </div>
                </form>
			</div>
		</div>
</div>
@section Scripts {
    <script src="@Url.Content("~/js/admin.js")" asp-append-version="true"></script>
}