@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ заборонено";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">У вас немає доступу.</p>
</header>
