@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ заборонено";
}
<div class="render-content d-flex flex-column justify-content-center align-items-center">
    <header>
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">У вас немає доступу.</p>
    </header>
</div>
