@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Підтвердження поштової скриньки";
}
<div class="render-content d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center my-4">@ViewData["Title"]</h1>
    <section class="auth-container mx-auto">
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <a id="confirm-link" href="@Model.EmailConfirmationUrl">Натисність сюди, щоб підтвердити вашу поштову скриньку.</a>
            }
            else
            {
                <p>Будь ласка, перевірте вашу електронну скриньку.</p>
            }
        }
    </section>
</div>

