<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/AdminStyles/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/AdminStyles/css/sb-admin.css">
</head>
<body>
   <div class="wrapper">
        <ul class="sidebar navbar-nav">
            <li class="side-nav-title d-flex">
                <button class="btn text-white" id="sidebarToggle">
                    <i class="fas fa-bars"></i>
                </button>
                <h1 class="text-white">Навігація</h1>
            </li>

            <li class="nav-item border-bottom">
                <a class="nav-link" href="../Admin/Users">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Користувачі</span>
                    <span class="arrow fw-semibold float-end">></span>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a class="nav-link" href="../Admin/Products">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Продукти</span>
                    <span class="arrow fw-semibold float-end">></span>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a class="nav-link" href="../Admin/Orders">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Замовлення</span>
                    <span class="arrow fw-semibold float-end">></span>
                </a>
            </li>
            <li class="nav-item border-bottom">
                <a class="nav-link" href="../Admin/Categories">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Категорії товарів</span>
                    <span class="arrow fw-semibold float-end">></span>
                </a>
            </li>
        </ul>
        @RenderBody()
    </div>
</body>
</html>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/AdminStyles/vendor/jquery/jquery.min.js"></script>
<script src="~/AdminStyles/js/sb-admin.js"></script>
