<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewData["Title"] - VYLKA</title>
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        @RenderSection("CSS", required: false)
	</head>
	<body> 
        <!-- Navbar -->
        <nav class="custom-navbar navbar navbar-expand-md navbar-dark">
			<div class="container">
				<img class="logo" src="~/images/logo/logo.png" alt="logo">
				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item">
							<a class="nav-link" asp-area="Admin" asp-controller="UserAdmin" asp-action="Users">Admin</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Про нас</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Товари </a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Refrigerators">Холодильники</a>
								</li>
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="TVs">Телевізори</a>
								</li>
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Vacuums">Пилососи</a>
								</li>
								<li>
									<a class="dropdown-item" asp-area="" asp-controller="Products" asp-action="Conditioners">Кондиціонери</a>
								</li>
							</ul>
						</li>
						<li class="nav-link">+38 (068) 202 60 66</li>
					</ul>
					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						<li>
							<a class="nav-link" asp-area="" asp-controller="ShoppingCart" asp-action="Index">
								<img src="~/images/icons/cart.png" alt="shopping cart">
							</a>
						</li>
						<partial name="_LoginPartial" />
					</ul>
				</div>
			</div>
		</nav>

		<main role="main"> @RenderBody() </main>

		<!-- Footer -->
		<footer class="text-center text-muted">
			<section>
				<div class="text-white container text-center text-md-start pb-5">
					<div class="row">
						<h6 class="text-uppercase fw-bold mt-5 mb-4">VYLKA</h6>
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto">
							<h7>Тобі потрібна допомога?</h7>
							<p><a>Обмін та повернення товару</a></p>
							<p><a>Доставка</a></p>
						</div>
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<h7>Контакти</h7>
							<p>+380 (068) 202 60 66</p>
							<p>VYLKASTORE@GMAIL.COM</p>
						</div>
					</div>
			</section>
		</footer>
	</body>
</html>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script> 
@RenderSection("Scripts", required: false)